* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	position: relative;
}
.tools {
	height: 60px;
	width: 100%;
	box-shadow: 5px 5px 20px 1px #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tools > div {
	margin: 0 30px;
	padding: 10px;
	width: 60px;
	height: 60px;
	font-size: 30px;
	color: purple;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
}

.tools > div:hover {
	background-color: #eee;
}

.clicked {
	background-color: #eee;
}

/* Stroke Type Styles */
.strokesType {
	position: relative;
}

.stroke-style {
	background-color: #ddd;
	border-radius: 25px;
	padding: 5px;
	width: 230px;
	height: 45px;
	display: none;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 9px;
	left: 70px;
	z-index: 10;
}
.stroke-style div a {
	font-size: 25px;
	color: purple;
}
.stroke-style.show {
	display: flex;
}

/* Color Pallate Styles */
.palette {
	position: relative;
}

.color-indicator {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	bottom: 12px;
	right: 15px;
}

.colors {
	background-color: #ddd;
	border-radius: 25px;
	padding: 5px;
	width: 230px;
	justify-content: space-around;
	align-content: center;
	position: absolute;
	top: 9px;
	left: 70px;
	display: none;
	z-index: 10;
}
.colors.show {
	display: flex;
}
.black,
.red,
.blue,
.yellow,
.green,
.violet {
	width: 25px;
	height: 25px;
	margin: 5px 5px;
	border-radius: 50%;
}
.black {
	background-color: black;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.violet {
	background-color: violet;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: green;
}

/* Stroke Width Styles */

.stroke-width {
	background-color: #ddd;
	border-radius: 25px;
	padding: 5px;
	width: 230px;
	height: 45px;
	display: none;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 7px;
	left: 55%;
}
.stroke-width.show {
	display: flex;
}
.small,
.medium,
.large {
	width: 50px;
	background: black;
}
.small {
	height: 6px;
}
.medium {
	height: 10px;
}
.large {
	height: 14px;
}
.stroke {
	position: relative;
}
.stroke-width {
	position: absolute;
	top: 9px;
	left: 70px;
}

/* Shapes Types */

.shapes {
	position: relative;
}
.shapes-type {
	background-color: #ddd;
	border-radius: 25px;
	padding: 5px;
	width: 230px;
	height: 45px;
	display: none;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 7px;
	left: 100%;
}
.shapes-type.show {
	display: flex;
	flex-direction: row;
}
/* Download Pop Up */
.download-popup {
	display: none;
}
.download-popup.show {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 300px;
	/* background-color: black; */
	border: 3px solid black;
	position: absolute;
	top: 20vh;
	left: 35vw;
	padding: 30px;
}

.download-popup #filename {
	width: 90%;
	height: 20%;
	font-size: 24px;
	margin: 0px auto;
	outline: none;
}

.download-popup #downloadBtn {
	width: 90%;
	height: 20%;
	font-size: 30px;
	margin: 20px auto;
}
